.profile {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover; 
  }
thead {
    background-color: rgb(45, 245, 61);
    color: rgb(255, 255, 255);
    
}
table{
    border: dashed rgb(45, 188, 245);
}
body {
    background-image: url('glafy.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
  }
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
  }

  hr{
    width: 70%;
    border-style: dotted none none;
    border-width: 2px;
    margin-bottom: 0;
    margin-top: 10px;
}